<p id="notice"><%= notice %></p>

<table class="table table-hover table-bordered">
  <tr>
    <td width="25%">Description:</td>
    <td><%= @mining_type.description %></td>
  </tr>

  <tr>
    <td>Acronym:</td>
    <td><%= @mining_type.acronym %></td>
  </tr>
</table>

<%= link_to t('links.edit'), edit_mining_type_path(@mining_type), class:"btn btn-info"%>
<%= link_to t('links.back'), mining_types_path, class:"btn btn-danger" %>
